.container {
  margin: 0 auto;
  width: 100%;
  /* border: 1px solid black; */
}

.first {
  display: flex;
  justify-content: space-between;
}

#info {
  background-color: rgb(87, 87, 88);
}

section {
  padding-bottom: 15px;
}

header{
  height: 75px;
  width: 100%;
  background: linear-gradient(to right, rgb(53, 211, 216), rgb(25, 206, 85));
}
header section{
  height: 75px;
  /* border: 1px solid black; */
}
header .logo{
  margin-left: 0;
  width: 100px;
  /* border: 1px solid aliceblue ; */
  /* height: 100vh; */
  
}
header .right{
  /* justify-content: right; */
  color: white;
  margin: auto 0 ;
  margin-top: 26px;
}
header .left .location{
  color: white;
}
header .left .location i{
  margin-right: 5px;
}
.stick{
  margin: 0 5px;
  height: 10px;
  
  border: 0.5px solid white;
}
header .right a{
  /* text-decoration: none; */
  color: white;
}
header .right a.employers{
  text-decoration: none;
}

.vacancies .log{
  color: white;
  text-decoration: none;
}
.vacancies .summary, .vacancies .s-work{
  color: black;
  text-decoration: none;
  margin-left: 15px;
  padding: 10px;
  border: 1px solid rgb(101, 242, 247);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
  transition: 0.2s;
}
.vacancies .summary{
  padding-left: 20px;
  padding-right: 20px;
}
.vacancies .summary:hover, .vacancies .s-work:hover{
  background-color:rgb(101, 242, 247) ;
  color: white;
}

.vacancies #ModalsignIn .modal-body input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  
}

.vacancies #ModalsignUp .modal-body input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.vacancies .info {
  /* border: 1px solid black; */
  text-align: center;
}
.vacancies .info div{
  /* border: 1px solid red; */
  width: 25%;
}
.vacancies .info .btn a{
  margin: 0 auto;
}

section .summary, section .s-work {
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
  padding: 7px;
  /* background-color: rgb(175, 128, 233); */
  border-radius: 10px;
  color: black;
  text-decoration: none;
  /* border: 1px solid red; */
}
/* .body .daily{
  margin-top: 50px;
} */
.body h6{
  margin-left: 55.5px;
}

.body .vacancy>a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  position: relative;
  left: 40%;
  border: 1px solid black;
  padding: 0 5px;
  background-color: rgb(90, 169, 226);
}

.daily #ModalVacancy .modal-body * {
  display: block;
  margin-bottom: 5px;
}

 .box {
  /* border: 1px solid black; */
  display: flex;
  /* text-align: center; */
}

.daily .box .item {
  padding: 10px 10px;
  border: 2px solid rgb(222, 222, 222);
  width: 100%;
  position: relative;
  border-radius: 15px;
  /* height: 350px; */
  margin-bottom: 10px;
}

.daily .box .item * {
  margin: 5px 5px;
}

.daily .box .item p:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px;
}

.daily .box .item ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 5px;
  bottom: 50px;
  margin: 0;
}

.daily .box .item .text{
  margin-bottom: 110px;
}
.daily .box .item ul li:nth-of-type(1) i {
  color: rgb(108, 150, 244);
}

.daily .box .item ul li:nth-of-type(2) i {
  color: rgb(141, 141, 143);
}

.daily .box .item a:nth-of-type(1) {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(90, 169, 226);
  color: white;
  text-decoration: none;
}

.daily .box .item .bottom {
  position: absolute;
  bottom: 5px;
}

.daily .box .item a:nth-of-type(2) {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(213, 209, 210);
  /* background-color: rgb(90, 169, 226); */
  color: black;
  text-decoration: none;
}

.daily .box .item img {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.daily .box .item .star {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}
.box{
flex-flow: wrap;
}
.box .d1 {
  /* border: 1px solid gray; */
  border-radius: 5px;
  background-color: #eee;
  border-left: 5px solid #87f5f5;
  width: 350px;
  height: 105px;
  margin-left: 55px;
  display: flex;
  flex-flow: column;
  cursor: pointer;
}
.box .d1:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.103)
}
.box .d1{
  margin-top: 10px;
}
.box .d1 .line{
  border: 0.2px solid gray;
  width: 325px;
  margin-left: 12px;
}
.box .d1 label{
  color: black;
  font-size: 18px;
  margin-left: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box .d1 .s1{
  color: rgb(40, 40, 41);
  margin-left: 12px;
  margin-top: -25px;
  margin-bottom: 5px;
}
.box .d1 .s2{
  margin-top: 7px;
  margin-left: 12px;
  color: rgb(14, 134, 204);
  cursor: pointer;
}
.box .d1 i{
  color: rgb(14, 134, 204);
  margin-left: 325px;
}
#info .lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 100px; */
}

#info .lists ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

#info .lists ul li {
  color: white;
  opacity: 0.6;
}

#info .lists ul li:hover {
  opacity: 1;
}

#info .icons a {
  margin-left: 10px;
}

#info .icons a i {
  font-size: 40px;
  border-radius: 50%;
  color: white;
  opacity: 0.6;
}
